body{
  background-color:rgb(241, 179, 233)
  ;
}

.jumbotron{
  background: rgb(229, 133, 225);
  text-align: center;
}

div#footer {
  
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:#333;
  padding:8px;
}
#salon{
  border:black;
  margin-left: 10%;
  margin-bottom: 2%;
}
.p{
  margin-bottom: 5%;
}

