body{
  background-color: palevioletred;
}

.jumbotron{
  background: rgb(243, 165, 239);
  text-align: center;
}

div#footer {
  
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:#333;
  padding:8px;
}