body{
  background-color: palevioletred;
}

.jumbotron{
  background: rgb(243, 165, 239);
  text-align: center;
}

div#footer {
  
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:#333;
  padding:8px;
}
#salon{
  border:black;
  margin-left: 10%;
  margin-bottom: 2%;
}
.p{
  margin-bottom: 5%;
}


