@{
  Layout = "_Layout";
}
<div class="card">
  <div class="container"id="salon">
  <img src="https://images.squarespace-cdn.com/content/v1/5a3457d9d55b415d1d953d2f/1513380854539-4ZE0TO3RGXMTULCISQ3V/ke17ZwdGBToddI8pDm48kLkXF2pIyv_F2eUT9F60jBl7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0iyqMbMesKd95J-X4EagrgU9L3Sa3U8cogeb0tjXbfawd0urKshkc5MgdBeJmALQKw/IMG_0316.JPG?format=2500w" alt="Salon"width=800 height=600 margin-left= 200 >
  <p>Here is your Stylist and Client Tracker for your Salon. you will be able to add stylist when you are hire them and they show up in the client screen. When you book a client you can choose which Stylist would fit there needs.</p>
  </div>
  </div>



<p>@Html.ActionLink("See all Stylist", "Index", "Stylist")</p>
<p>@Html.ActionLink("See all Clients", "Index", "Client")</p>

<br>
<br>
<br>
<br>
<br>
<br>
<br>